<div class="dialog-content-wrapper">
    <div class="header">
        <span>
            Formulário de Obras
        </span>
    </div>
    <div class="content">
        <form class="example-form">
            <div fxLayout="row">
                <mat-form-field fxFlex="95">
                    <mat-label>Proprietário</mat-label>
                    <input matInput >
                </mat-form-field>
                <a mat-button>
                    <mat-icon>search</mat-icon>
                </a>
            </div>
        </form>
    </div>
</div>
