mat-card{
    margin: 15px;
}

mat-expansion-panel{
    margin: 15px;
}

mat-expansion-panel mat-icon{
  margin-right: 10px;
}

button{
    margin-top: 15px;
    margin-right: 15px;
}

.header{
    text-align: center;
}


table {
    width: 100%;
    
  }

  table mat-icon{
    margin-right: 10px;    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }